<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.swyp.weddy.domain.checklist.dao.ChecklistMapper">
    <insert id="insertChecklist" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.swyp.weddy.domain.checklist.entity.Checklist">
        INSERT INTO checklist (member_id,
                               d_day,
                               created_at,
                               updated_at,
                               is_deleted)
        VALUES (#{memberId},
                #{dDay},
                #{createdAt},
                #{updatedAt},
                #{isDeleted})
    </insert>

    <select id="selectChecklistByMemberId" parameterType="Long"
            resultType="org.swyp.weddy.domain.checklist.entity.Checklist">
        SELECT id,
                member_id,
                d_day,
                created_at,
                updated_at,
                is_deleted
        FROM checklist
        WHERE member_id = #{memberId}
    </select>

    <update id="updateChecklist" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.swyp.weddy.domain.checklist.entity.Checklist">
        UPDATE checklist
        SET d_day      = #{dDay},
            updated_at = #{updatedAt}
        WHERE member_id = #{memberId}
          AND id = #{id};
    </update>
</mapper>
