<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.swyp.weddy.domain.auth.dao.MemberMapper">

    <resultMap id="MemberMap" type="org.swyp.weddy.domain.auth.entity.Member">
        <id property="id" column="id"/>
        <result property="oAuthId" column="oauth_id"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="profileImageUrl" column="profile_image_url"/>
    </resultMap>

    <insert id="saveMember" parameterType="org.swyp.weddy.domain.auth.entity.Member">
        INSERT INTO member ( email, name, profile_image_url, oauth_id, created_at, updated_at, is_deleted)
        VALUES ( #{email}, #{name}, #{profileImageUrl}, #{oAuthId}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{isDeleted})
    </insert>

    <update id="updateMember" parameterType="org.swyp.weddy.domain.auth.entity.Member">
        UPDATE member
        SET oauth_id = #{oAuthId},
        email = #{email},
        name = #{name},
        profile_image_url = #{profileImageUrl},
        updated_at = CURRENT_TIMESTAMP
        WHERE email = #{email}
    </update>

    <select id="findByEmail" parameterType="string" resultMap="MemberMap">
        SELECT id, email, name, profile_image_url, oauth_id
        FROM member
        WHERE email = #{email}
    </select>

</mapper>
